[submodule ".vim/pack/vendor/start/nerdtree"]
	path = .vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/vendor/start/fzf.vim"]
	path = .vim/pack/vendor/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/vendor/start/vim-airline"]
	path = .vim/pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/vendor/start/vim-commentary"]
	path = .vim/pack/vendor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/vendor/start/vim-floaterm"]
	path = .vim/pack/vendor/start/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm.git
[submodule ".vim/pack/vendor/start/vim-fugitive"]
	path = .vim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/vendor/start/vim-gitgutter"]
	path = .vim/pack/vendor/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/vendor/start/vim-repeat"]
	path = .vim/pack/vendor/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/pack/vendor/start/vim-surround"]
	path = .vim/pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/vendor/start/vim-sneak"]
	path = .vim/pack/vendor/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule ".vim/pack/vendor/start/fzf"]
	path = .vim/pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".oh-my-zsh-plugins/themes/powerlevel10k"]
	path = .oh-my-zsh-plugins/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".oh-my-zsh-plugins/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh-plugins/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh-plugins/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh-plugins/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".tmux/tmux-powerline"]
	path = .tmux/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule ".vim/pack/vendor/start/rus.vim"]
	path = .vim/pack/vendor/start/rus.vim
	url = https://github.com/rust-lang/rust.vim.git
